:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --paragraphs: hsla(0, 0%, 100%, 0.75);
    --bg-headings-butoons: hsl(0, 0%, 95%);
}
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Lexend Deca', sans-serif;
        font-size: 15px;
        min-height: 100vh;
        font-weight: 700;
    }
    
    .cards {
        display: flex;
        color: #fff;
        max-width: 800px;
        border-radius: 1.5rem;
    }
    .card-1 {
        background: var(--bright-orange);
        display: flex;
        flex-direction: column;
        width: 33.3%;
        padding: 2.5rem;
    }
    .card-2 {
        background: var(--dark-cyan);
        display: flex;
        flex-direction: column;
        flex: auto;
        width: 33.3%;
        padding: 3rem;
    }
    .card-3 {
        background: var(--very-dark-cyan);
        display: flex;
        flex-direction: column;
        width: 33.3%;
        padding: 3rem;
    }
    .cards img {
        width: 30%;
        padding-bottom: 1.7rem;
    }
    .cards h1 {
        padding-bottom: 2rem;
    }
    .cards p {
        color: var(--paragraphs);
        font-weight: 400;
        padding-bottom: 5rem;
        line-height: 2rem;
    }
    .cards input {
        padding: 0.8rem 2rem;
        border-radius: 1.5rem;
        border: none;
    }
    .card-1 input {
        color: var(--bright-orange);
    }
    .card-2 input {
        color: var(--dark-cyan);
    }
    .card-3 input {
        color: var(--very-dark-cyan);
    }
    @media (max-width: 670px) {
        .cards {
            display: flex;
            flex-direction: column;
            margin: 20px;
        }
        .card-1 {
            width: 100%;
        }
        .card-2 {
            width: 100%;
        }
        .card-3 {
            width: 100%;
        }
    }